@using Clockwork.Models

<div class="panel panel-default">
    <div class="panel-heading">@specialty.Name</div>
    <div class="card-body">
        @specialty.Description
    </div>

    <button class="btn btn-primary" style="display:none" @onclick="OnClickCallback">
    </button>
</div>



@code{
    [Parameter]
    public Specialty specialty {get; set;}
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}