@page "/book/chapter1"
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
</style>
</head>
<body>
<div>
    <h1>
        Chapter 1 - The Clockwork System
    </h1>

    &nbsp;
    &nbsp;

    &nbsp;

<h2>
        <b>Entering the Clockwork</b>
    </h2>

    &nbsp;
    &nbsp;

        <p>
            There’s a lot of text in this book. Don’t be afraid…it won’t take you long to start enjoying your stay.
        </p>

        <p>
            This is a richly customizable mechanism with a variety of rules, ticking 
            tidbits, and random springs. Inside of this mechanism is a single 
            clockwork movement that makes the rest of the system function. Once 
            you’ve seen how the basic movement works, everything else won’t 
            seem so daunting.
        </p>
     
    &nbsp;

<h3>
        Dice & Modifiers
    </h3>

&nbsp;
     
        <p>
            To begin, you’ll need a single die: a unique one with 12 sides. This is 
            the foundation for the Clockwork System, a die that can randomly give 
            you any number from 1 to 12.
        </p>

        <p>
            With this special die, occasionally called the D12, you’ll be able to 
            determine how successful you are on any given task. You’ll have skills, 
            attributes, and various other traits that all have numbers assigned to 
            them. When you need to determine how well you succeed at something, 
            you’ll roll your die and add on the appropriate number.
        </p>

        <p>
            Rolling your Dexterity? Roll your D12, add the number in your Dexterity 
            attribute, and you’ve got your result.
        </p>

    &nbsp;

<h3>
        Four Tiers of Success
    </h3>

&nbsp;

        <p>
            The game revolves around tiers - four tiers, to be exact. Once you’ve 
            received the result of your die roll, you’ll be able to determine what 
            tier it is.
        </p>

        <div>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Tier</th>
                        <th scope="col">Result</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1-9</td>
                        <td>Barely Passing</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>10-19</td>
                        <td>Solid Success</td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>20-29</td>
                        <td>Phenomenal</td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>30+</td>
                        <td>Beyond Human</td>
                    </tr>
                </tbody>
            </table>
        </div>
        &nbsp;

        <p>
            As you can see, tier 1 is going to be the most minimal of a success. If 
            you’re trying to jump, all you can say is that you successfully jumped. 
            Nobody takes notice up until you get to tier 2. A tier 3 is the utmost 
            of human ability. If you’re hitting a tier 3, that means you’ve just 
            leapt a chasm. A tier 4? There are no words to explain a tier 4 success.
        </p>

    &nbsp;

<h3>
        Turns!
    </h3>

&nbsp;

        <p>
            Let’s discuss combat. If you’re in a fight with somebody, you’re going to 
            take turns. You’ll begin by rolling priority. The person with the 
            highest priority goes first, the person with the next highest goes 
            second, and so on. When it’s your turn, you’re going to have a number of
            action points (AP) that you can spend.
        </p>

        <p>
            Let’s say it’s your turn, and you have 3 action points (the norm for starting 
            characters). You could run (1 AP) and shoot your rifle (2 AP). Or, you 
            could run (1 AP), open a door (1 AP), and then duck behind a barrel (1 
            AP). Or, you could swing your sword (2 AP) at somebody’s head (another 1 
            AP for aiming).
        </p>

        <p>
            The options are pretty open-ended.
        </p>

    &nbsp;

<h3>
        Attributes & Skills
    </h3>

&nbsp;

        <p>
            As we’ve said, your character is going to have a lot of numbers associated 
            with him. When you build your character (found in Chapter 2 - Character 
            Creation), you’ll first distribute some points in your skills. Skills 
            are those areas that you’ve trained in. Swashbuckling, Brawl, Gadgetry, 
            Marksmanship - these are all skills.
        </p>

        <p>
            Now, your skills are going to determine your attributes. Attributes are the 
            core components of your character. If you have a total of 6 points in 
            your Dexterity skills, your Dexterity will be a +6.
        </p>

        <p>
            When do you use these numbers? For attributes: all the time. Lifting 
            something? Brute. Picking somebody’s wallet? Dexterity. Trying to figure 
            out a puzzle? Cunning.
        </p>

    &nbsp;

<h3>
        Specialties
    </h3>

&nbsp;

        <p>
            The most exciting part of your character is their specialties. Specialties 
            are the defining aspects of your character, things that make them 
            awesome. At first level, you’ll start with three, and you’ll choose them 
            from your skills. When you need to make a roll to determine how well 
            you use your specialty, you’ll roll your skill.
        </p>

    &nbsp;

<h3>
        Hit Points, Damage, and all that stuff
    </h3>

&nbsp;

        <p>
            A lot of your statistics will be determined by the specialties that you 
            select, the stories that you gain, and the race that you choose. But, 
            honestly, this is all clockwork. Once you start building a character, 
            everything else will fall into place.
        </p>

    &nbsp;

    &nbsp;

<h2>
        <b>Breaking down the Mechanism</b>
    </h2>

    &nbsp;
    &nbsp;

    &nbsp;

<h3>
        Action Points (AP)
    </h3>

&nbsp;

        <p>
            During your turn, you have 3 action points you can spend to move, attack
            or do virtually anything. Every action has an action point cost, though 
            some are free (and, often, can be done at any time).
        </p>

        <p>
            <b>Refresh:</b> Your action points refresh at the end of your turn. So as soon as your 
            turn ends, you may start using reflexives that drain your next turn’s 
            action point pool.
        </p>

        <p>
            <b>Reflexives</b>: You can use action points reflexively. When you’ve trained yourself so 
            well that you can act in a split second, that’s when you’re using your 
            AP reflexively.
        </p>

        <p>
            Reflexives are action points you can use out-of-turn. You might have a specialty, 
            for example, that allows you to jump in front of an incoming bullet for 
            an ally (Interposition, found under the Resilience skill). That 
            specialty costs 2 action points reflexively, which you may do any time 
            an ally is being attacked. Your reflexive action points come out of your
            next turn’s pool of action points. So if you used interposition, on 
            your next turn you’d only have 1 action point left.
        </p>

        <p>
            Your action point pool increases at certain levels. You’ll find those in 
            this chart:
        </p>
        <div>
            <table class="table-bordered">
                <tr>
                    <th scope="row">Level 1</th>
                    <td>3 AP</td>
                </tr>

                <tr>
                    <th scope="row">Level 4</th>
                    <td>4 AP</td>
                </tr>

                <tr>
                    <th scope="row">Level 8</th>
                    <td>5 AP</td>
                </tr>

                <tr>
                    <th scope="row">Level 12</th>
                    <td>6 AP</td>
                </tr>
            </table>
        </div>
        &nbsp;
    
    &nbsp;

<h3>
        Turn Order
    </h3>

&nbsp;

        <p>
            When combat begins, every combatant rolls their priority, creating a “turn 
            order.” Everybody starts the combat with their action points full, so 
            they can start making reflexive actions right away. The person with the 
            highest priority roll goes first. That person could then use any of 
            their action points they have, and, once they’re done, their action 
            points refresh.
        </p>

        <p>
            A person can never save action points for their next turn. When your 
            action points refresh, they are hitting a hard reset and going to their 
            normal value. Any action points from your previous turn that you did not
            use are wasted - so go ahead, use them!
        </p>

    &nbsp;

<h3>
        Attributes
    </h3>

&nbsp;

        <p>
            Your attributes are the key building blocks of your character. Attributes 
            reflect your training in your skills and are entirely based off of them.
            Every skill falls under one of our five key attributes: Brute, Cunning,
            Dexterity, Spirit, and Sciences. Once you’ve selected your skills, add 
            up the skills under those attributes to get your points in that 
            attribute.
        </p>

        <p>
            You’ll find yourself using attributes both in and out of combat. Attributes 
            are used to resist special attacks, called shots, poisons, and all other
            manner of contraptions. If you’re being tricked, you would resist with 
            your Cunning attribute. If you’ve been hit in the head, you’d resist 
            getting a concussion with your Brute attribute.
        </p>

        <p>
            Likewise, attributes determine how well you interact with people and the setting.
            How easily you can sneak around depends on your Dexterity. Holding the 
            door closed as enemies try to break in requires Brute. Any time you’re 
            trying to convince somebody of something, you’ll roll your Cunning. 
            Throughout the entire system, these five attributes will be keys to your
            character and help him or her grow.
        </p>

    &nbsp;

<h3>
        Hit Points & Wounds
    </h3>

&nbsp;

        <p>
            Hit points are a reflection of a character’s toughness and willpower to 
            keep on fighting. During combat, every time a character is successfully 
            hit, their hit points will decrease. If all of a character’s hit points 
            are depleted, a character begins to take wounds. Wounds are substantial 
            damage taken to the character’s bodily form, such as deep gashes or 
            wracking blows.
        </p>

        <p>
            Your hit points are determined by your specialties, and the amount of wounds
            you have will start at 12.
        </p>

        <p>
            Hit points are only in effect while you’re ready for action. When your 
            character is asleep, in a focused conversation, or for some reason not 
            paying attention, your hit points don’t come into play. Any time you are
            hit while not prepared, the damage goes straight into your wounds pool.
        </p>

        <p>
            <b>Wounds Damage:</b> Every time you take wounds damage, your character suffers a 
            grievous hit. When you take wounds damage, you roll on our called shot 
            chart and take the wound effect from that location. If you rolled “Left 
            Hand,” for example, your hand would be smashed and you’d have a hard 
            time grasping anything with it.
        </p>

        <p>
            If you’re hit by an attack and you run out of wounds, you immediately roll
            randomly on the called shot chart, this time for a fatal effect. If you
            rolled “Left Hand” again for the fatal effect, your hand would be 
            severed and you could never use that hand again (unless somebody could 
            create you a prosthetic hand). Though that might sound bad, if you’re 
            unlucky enough for the attack to land across your head, your fatal 
            effect is instantaneous death.
        </p>

        <p>
            Once you’re out of wounds, every time you take damage, you roll for a fatal 
            effect.
        </p>

    &nbsp;

<h3>
        Regaining Health
    </h3>

&nbsp;

        <p>
            <b>Taking a Breather:</b> Hit points don’t take a long time to return to you. We 
            assume that every blow to your stamina is a small scrape, bruise, or 
            just a representation of you becoming more exhausted.
        </p>

        <p>
            To replenish your hit points after a battle, just take a breather. If you 
            have time to rest for fifteen to thirty minutes after a battle, all of 
            your hit points will be returned.
        </p>

        <p>
            <b>Naturally Healing Wounds:</b> Your wounds will return to you at the rate of one wound
            per day. Your pool of wounds is likely to be much smaller than your hit
            points, and it takes longer to regenerate them. Be careful when you’re 
            in wounds.
        </p>

    &nbsp;

<h3>
        Priority
    </h3>

&nbsp;

        <p>
            Priority determines your turn order. Priority represents a character’s awareness
            of their current environment and their alertness of the situation. To 
            determine priority, each player involved in combat will roll and add any
        bonuses to priority that they have.
        </p>

        <p>
        A player may request to be given a circumstantial bonus by consulting the
            narrator. With proper justification, the narrator has the right to 
            grant the player a bonus to their priority (normally a +6). This is 
            typically done when a character is ready for combat, has their revolver 
            drawn, and is aching to go. This character is likely to go before the 
            guy sitting in the corner, drinking a glass of wine.
        </p>

        <p>
            Multiple players may request this benefit, but the narrator is never obligated 
            to anybody. If too many people can justify gaining a priority bonus, 
            then everyone’s starting on the same footing and should probably just go
            without any bonuses.
        </p>

        <p>
            If the characters are ready for the combat before the combat truly begins,
            they can be in their stances and have their weapons already drawn.
        </p>

    &nbsp;

<h3>
        Damage Classes
    </h3>

&nbsp;

        <p>
            Weapons and most attacks have damage classes. The damage class of a weapon 
            varies based on the size of the weapon. Light melee weapons, for 
            example, have a damage class of 4, while heavy melee weapons have a 
            damage class of 8.
        </p>

        <p>
            The damage class determines how much damage it will do for any given tier. 
            If you get a tier 1 result, your damage dealt will be equal to the 
            damage class. If you get a tier 2 result, the damage dealt will be twice
            the damage class. Tier 3 triples the damage class.
        </p>

        <p>
            Most easily put, the damage you deal for an attack is equal to your damage 
            class times the tier.
        </p>

    &nbsp;

<h3>
        Stories
    </h3>

&nbsp;

        <p>
            Stories are memories of adventures past, things you take with you throughout 
            your lifelong journeys. Stories are not active abilities for you to use;
            they are simply past experiences that make obstacles you face now 
            either easier to face or harder.
        </p>

        <p>
            You have some stories before you even start your days as an adventurer, 
            such as past job experiences in the form of Background Stories, or 
            affiliations with different organizations through Membership Stories. 
            All other Stories attached to your character are awarded by your 
            narrator. For instance, should you continually act crude and vulgar, 
            your narrator may choose to give you the Yobbish Personality Story, and 
            you gain all of the bonuses and penalties that go along with it. 
            However, should your personality change and you cease your vulgarity, 
            your narrator is fully within their rights to take that Story away.
        </p>

        <p>
            Some Stories are, on the other hand, permanent modifiers of your character, 
            and earning such a Story means you would have to do something extremely 
            drastic to be rid of it. This of course would come in the form of a 
            different Story taking the former’s place. Perfect examples of this are 
            Alteration Stories, which are Stories that affect your character’s 
            physical make-up.
        </p>

    &nbsp;

<h4>
        <em>Note to the Narrator: Awarding Stories</em>
    </h4>

&nbsp;

        <p>
            Stories are entirely given out and taken away at your discretion. If you don’t 
            feel like giving a player a Story they seem to meet the requirements of,
            you are fully able to simply ignore them and not give it to them. At 
            the same time, Stories make adventures that much more exciting. A player
            can go up to another and show them the Stories their character has 
            collected as a symbol of pride. On the other end of the spectrum, 
            Stories can also be in your arsenal of weapons against the player. If a 
            player keeps trying to melee fight with clockwork abominations that use 
            giant torches, have the abomination attack their face and give them the 
            Burn Victim Alteration Story. Feel free to let players take one or two 
            Personality and Background Stories when they first build their 
            character, but make sure you know have an idea about the roleplay 
            requirements for them.
        </p>

    &nbsp;

<h2>
        Attacking
    </h2>

    &nbsp;
    &nbsp;

        <p>
            Attacking is a simple process. Both combatants roll, the attacker to hit and the 
            defender to evade. If the accuracy meets or exceeds the evade, the 
            attack lands. Then the attacker rolls for strike and the defender rolls 
            for defense. The damage dealt is based on the weapon used and is put 
            against a tiered result. The defense works the same way, soaking an 
            amount of damage based on the armor worn.
        </p>


        <div>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col"><b>Accuracy</b></th>
                        <th scope="col"><b>VS.</b></th>
                        <th scope="col"><b>Evade</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            When delivering an attack, you must first land it. You make an attack 
                            against the target’s evade. If the accuracy meets or exceeds the evade, 
                            the attack hits.
                        </td>
                        <td></td>
                        <td>
                            When receiving an attack, you want to evade it. The attacker makes an 
                            accuracy roll against the defender’s evade. If the evade exceeds the 
                            accuracy, the attack misses.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        &nbsp;
    
        <div>
             <table class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col"><b>Strike</b></th>
                        <th scope="col"><b>VS.</b></th>
                        <th scope="col"><b>Defense</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>   
                            Once you are sure that an attack has landed, how hard the strike hit is 
                            decided. Use your roll, add your strike, and then tier the results. The
                            tier will then deal the indicated amount of damage to the defender.
                        </td>
                        <td></td>
                        <td>
                            In preparation for an incoming blow, the target readies his defenses. 
                            Roll again, add your defense, and then tier the results. The tier will 
                            then soak damage from the opponent’s attack.
                        </td>
                    </tr>
                </tbody>
            </table>            
        </div>
        &nbsp;
    
    &nbsp;

<h3>
        Specialty Attacks
    </h3>

&nbsp;
    
        <p>
            Normally, melee attacks require 2 action points (unarmed attacks require 1 AP and
            ranged attacks vary). Characters can make unique attacks using 
            specialties for extra action points. Many specialties will be labeled as
            “attack + x AP.” Therefore, when you decide to make a specialty attack,
            you announce the attack and spend the total action point cost in order 
            to attempt it.
        </p>

        <p>
            You may stack special attacks if you have enough action points to do so. 
            For example, if you have two specialties that both say “melee attack +1 
            AP,” you may make your melee attack (for 2 action points) and add both 
            specialties onto it (at 1 action point apiece), which would be a single 
            attack that costs 4 AP to make. Be careful, though: if your opponent 
            manages to evade, you’ve just used 4 action points on a single attack! 
            You cannot add a single attack-modifying specialty twice, however.
        </p>
    
    &nbsp;

    &nbsp;

<h2>
        How We Roll
    </h2>
    
    &nbsp;
    &nbsp;

        <p>
            Explaining how to roll a single die may seem asinine, but I’m going to do it 
            anyway (but only because we have two special rules about die rolling).
        </p>
    
    &nbsp;

<h3>
        Rule #1: 1 is 1
    </h3>

&nbsp;
    
        <p>
            This rule is simple. A roll of a 1 results in a 1. Whenever you roll a 1 on 
            your twelve-sided die, you are not allowed to add anything to it. We 
            don’t care if you have a +48 in brute; when you roll that 1, you receive
            a 1.
        </p>

        <p>
            The only exception to this rule regards negatives. If you have some penalty
            on your roll (such as being blind, which incurs a -4 on accuracy 
            rolls), a 1 is not a 1. Negatives still apply. So your blind accuracy 
            roll was not a 1, it was a -3.
        </p>
    
    &nbsp;

<h3>
        Rule #2: Pure 12s Roll Again
    </h3>

&nbsp;
    
        <p>
            It’s true. If you roll a pure 12 (as in, a 12 on the twelve-sided die is 
            showing), you roll again. You then add your new roll to 12 in order to 
            determine the result. If you roll 12 again, you keep on going.
        </p>

        <p>
            Just so it’s clear, if you roll a 1 after rolling a 12, the result is a 13. 
            Rule #1 no longer applies.
        </p>

        <p>
            If you are rolling a 12 randomly to determine what called shot location 
            you hit, this rule need not apply.
        </p>

    &nbsp;

    &nbsp;

<h2>
        <b>Actions</b>
    </h2>

    &nbsp;
    &nbsp;
    
    &nbsp;

<h4>
        <em>Now let’s see what you can do.</em>
    </h4>

&nbsp;

    &nbsp;

    &nbsp;

<h3>
        Attack
    </h3>

&nbsp;
        
    &nbsp;

<h4>
        <em>Cost: 2 AP for Most Weapons, 1 AP for Unarmed</em>
    </h4>

&nbsp;
    
    
        <p>
            Attacking somebody can be anything from stabbing with your rapier to swinging 
            your whip to firing your pistol. You choose a target and you attack.
        </p>

        <p>
            Your choice of weapon determines how many action points it cost, though most
            will use 2 action points. Your damage is also determined by your choice
            of weapon.
        </p>

    &nbsp;

<h3>
        Non-Lethal Attacks:
    </h3>

&nbsp; 
    
        <p>
            You hold your blows just a little bit, aiming for areas that 
            won’t kill the person. You can make a non-lethal attack just like a 
            regular attack; however, if the opponent takes any wounds damage, he 
            does not have to roll on the wounds effect chart. Instead of dying, the 
            opponent falls unconscious upon reaching 0 wounds.
        </p>
    
    &nbsp;

<h3>
        Called Shot
    </h3>

&nbsp;
        
    &nbsp;

<h4>
        <em>Cost: Attack + 1 AP</em>
    </h4>

&nbsp;
    

        <p>
            Sometimes you don’t just want to hurt them. Sometimes you want to stab them in 
            the eyes, smash their fingers, or kick them in the balls. These options 
            are Called Shots.
        </p>

        <p>
            To make a called shot, choose one of the 12 key parts of the body (found 
            on the Called Shot pages, a couple pages over) and make an attack. The 
            attack is just like any other attack, except that it requires one extra 
            action point to do. Thus, a normal melee attack made as a called shot 
            would be three action points, whereas a called shot that was unarmed 
            would be two action points. Called shots can also be made with ranged 
            weapons.
        </p>

        <p>
            Every called shot is resistable. The resist is based on your strike (or 
            accuracy with firearms and crossbows), for which the target must roll 
            the appropriate attribute and exceed your strike in order to resist.
        </p>

    &nbsp;

<h3>
        Stacking Called Shot Effects:
    </h3>

&nbsp; 
    
        <p>
            The effects from called shots do not stack. If 
            somebody is disoriented from a called shot to the brain, another called 
            shot to the brain will only renew the effect, not double it. A called 
            shot to the torso (to knock them back) or stunning them via a called 
            shot to the neck are the only exceptions.
        </p>

    &nbsp;

<h3>
        Called Shot in Wounds & Fatals:
    </h3>

&nbsp;

        <p>
            A called shot while the target is in wounds or fatal effects will 
            automatically hit that location. There’s no need to roll randomly. 
            (For this reason, many people will do a called shot to a lethal 
            location once a person has reached wounds and fatals, 
            like to the head or chest.)
        </p>

    &nbsp;

<h3>
        Deflect
    </h3>

&nbsp;

    &nbsp;

<h4>
        <em>Cost: 1 AP interruption</em>
    </h4>

&nbsp;

        <p>
            Shields are used for deflecting incoming attacks. To make a shield deflection, 
            you must be wielding a shield (or some other item you can make a 
            deflection with) and be in the process of being attacked. Then, you can 
            make a deflect attempt. When you deflect with a shield, it costs you 1 
            action point and you gain a +4 on your evade roll.
        </p>

    &nbsp;

<h3>
        Draw or Swap an Item
    </h3>

&nbsp;

    &nbsp;

<h4>
        <em>Cost: 1 AP</em>
    </h4>

&nbsp;
    
    
        <p>
            You may swap weapons or pull out an item (such as a vial or explosive) for one action point.
        </p>

    &nbsp;

<h3>
        Enter a Stance
    </h3>

&nbsp;

    &nbsp;

<h4>
        <em>Cost: 1 AP</em>
    </h4>

&nbsp;

        <p>
            You may enter a stance for 1 action point. You can only be in one stance at
            a time. Oftentimes when combat begins you can simultaneously enter a 
            stance, costing no action points. Any time you take on a specialized 
            stance, the effects of the stance remain active until you are knocked 
            back, knocked prone, or are otherwise knocked out of your stance. You 
            must then re-enter the stance to regain the benefits. At first the only 
            stance your character knows how to enter is the “Footing” stance used to
            wield Super-Heavy items. You can learn more stances through certain 
            specialties.
        </p>

    &nbsp;

<h3>
        Grab 
    </h3>

&nbsp;

    &nbsp;

<h4>
        <em>Cost: as an Unarmed Attack (1 AP) or Whip Attack (2 AP)</em>
    </h4>

&nbsp;
    

        <p>
            Grabs are similar to called shots, but rather than hitting them there, you 
            grab them. Your goal is not to deal damage but to take hold of your 
            opponent and limit their movement.
        </p>

        <p>
            First choose a called shot location, then roll your accuracy versus their 
            evade just as though you were doing a normal attack. However, you do not
            deal damage. If you land the attack, the target is grabbed. Once you 
            grab the opponent, a few rules apply:
        </p>

        <p>
            Neither you nor the target can move without breaking the grab.
        </p>

        <p>
            The target can attempt to break free for 1 AP by making either a Brute or 
            Dexterity resist against your Brute or Dexterity. You can let go for 0 
            action points.
        </p>

        <p>
            If you grab the target’s hand, the target cannot use the weapon, item, or 
            shield in that hand (beyond dropping it).
        </p>

    &nbsp;

<h3>
        Throw
    </h3>

&nbsp;    

    &nbsp;

<h4>
        <em>Resist: Brute (tier down)</em>
    </h4>

&nbsp;
    &nbsp;

<h4>
        <em>Cost: 2 AP</em>
    </h4>

&nbsp;
    

        <p>
            After successfully grabbing a person, you may then throw them. Roll your 
            Brute to determine how well you throw them. For every tier over tier 1 
            that the opponent rolls their Brute, it lowers the effect by 1 tier. 
            Note: small creatures, such as gnomes and most animals, are thrown an 
            additional 5 feet.
        </p>
    
        <ul>
            <li>
                Tier 1: Opponent is thrown 5 feet.
            </li>
            <li>
                Tier 2: Opponent is thrown 10 feet.
            </li>
            <li>
                Tier 3: Opponent is thrown 10 feet and is now prone.
            </li>
            <li>
                Tier 4: Opponent is thrown 15 feet and is now prone.
            </li>
        </ul>

    &nbsp;

<h3>
        Move
    </h3>

&nbsp;

    &nbsp;

<h4>
        <em>Cost: 1 AP</em>
    </h4>

&nbsp;

        <p>
            You are able to move 25 feet for a single action point. Certain races 
            (elves, gnomes, and satyrs) have different movement speeds.
        </p>

    &nbsp;

<h3>
        Ready a Firearm
    </h3>

&nbsp;

    &nbsp;

<h4>
        <em>Cost: Varies</em>
    </h4>

&nbsp;
    
        <p>
            Many firearms require you to ready them between each firing. This can be as 
            simple as cocking back the hammer or as complex as muzzle-loading the 
            musket. It all depends on the firearm. You can find out more about 
            readying a firearm in the Gear chapter.
        </p>

    &nbsp;

<h3>
        Stand Up 
    </h3>

&nbsp;

    &nbsp;

<h4>
        <em>Cost: 1 AP</em>
    </h4>

&nbsp;

        <p>
            Sometimes, after you’ve been knocked prone, you just need to stand back up. Do so for 1 action point.
        </p>

        <p>
            <em>
                Note: kneeling does not cost any action points as you are doing that as a 
                combat action. Thus, you could kneel behind a low wall for no action 
                points. If the wall’s only 1 foot tall, though, your narrator might rule
                that you need that 1 action point to get down into a flat position and 
                stand up from it.
            </em>
        </p>

    &nbsp;

<h3>
        Sunder
    </h3>

&nbsp;
        
        &nbsp;

<h4>
            <em>Resist: Dexterity (tiers down)</em>
        </h4>

&nbsp;

        &nbsp;

<h4>
            <em>Cost: as an Attack</em>
        </h4>

&nbsp;
        
        <p>
            Rather than attacking the person, the attack is against the wielded item, be 
            it a weapon, shield, or vial of poison. Most items are instantly 
            destroyed when attacked (such as poisons, complex machines, et cetera). 
            Weapons last a little bit longer.
        </p>

        <p>
            A melee weapon’s damage class decreases every time it is struck by a 
            sunder. The tier of the attack will indicate how much the weapon’s 
            damage class decreases by. For example, a tier 2 attack would decrease 
            the target’s weapon by 2 damage class. A sunder made against a firearm, 
            crossbow, or bow is twice as effective, lowering the damage class by 2 
            for every tier of the attack.
        </p>

        <p>
            The Dexterity resist will tier the effect down against a weapon (so if you 
            get a tier 2 Dexterity resist, it lowers the effect by 1). If used 
            against another item that is instantly destroyed by a sunder, the 
            Dexterity resist can only negate by being a tier over the attack.
        </p>

        <p>
            A damaged weapon can be repaired during a breather.
        </p>

    &nbsp;

<h3>
        Miscellaneous Actions
    </h3>

&nbsp;

    &nbsp;

<h4>
        <em>Cost: Varies</em>
    </h4>

&nbsp;

        <p>
            There are a wide variety of other actions you may want to make while in combat. Here is a list of just some of those actions:
        </p>

        <div>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Actions</th>
                        <th scope="col">AP Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Breaking a Window</td>
                        <td>1 AP</td>
                    </tr>
                    <tr>
                        <td>Opening a Door</td>
                        <td>1 AP</td>
                    </tr>
                    <tr>
                        <td>Pulling a Lever</td>
                        <td>1 AP</td>
                    </tr>
                </tbody>
            </table>
        </div>
        &nbsp;

    &nbsp;

<h2>
        Reflexive Attacks
    </h2>

    &nbsp;
    &nbsp;

    &nbsp;

<h4>
        <em>Actions you can do in an instant.</em>
    </h4>

&nbsp;

        <p>
            Reflexive attacks are attacks that you can make when an opponent leaves 
            themselves open. They are just like normal attacks - that is, they cost 
            the same amount of action points and you can upgrade them with your 
            specialties - but they can happen outside of your turn. And remember, 
            your action points reset at the end of your turn, so after your turn, 
            you’re back up to full.
        </p>

        <p>
            For most people, there are two actions that leave a person open to 
            reflexive attacks: leaving cover and using, consuming, or drawing an 
            item.
        </p>

    &nbsp;

<h4>
        Leaving Cover
    </h4>

&nbsp;

        <p>
            <em>Can only be made with ranged attacks</em>
        </p>

        <p>
            If a gunman is hiding behind a crate and leaves cover to take a shot, everyone can take a shot at him, because he is now open.
        </p>

        <p>
            If somebody is standing behind a tree and walks out from behind the tree, 
            anybody with a gun ready can take a shot.
        </p>

    &nbsp;

<h4>
        Using an Item
    </h4>

&nbsp;

        <p>
            <em>Can only be made with melee attacks</em>
        </p>

        <p>
            If somebody pulls out an accelerator rifle, tries to drink a push potion, 
            or flips on their unusual gadget within melee distance, anybody within 
            melee range can make a reflexive attack.
        </p>

    &nbsp;

<h2>
        Fighting out of Combat
    </h2>

    &nbsp;
    &nbsp;

        <p>
            Fighting out of combat may sound like an oxymoron, but it occurs any time where 
            the defender is not fighting back. If you are stabbing somebody in their
            sleep, knocking somebody upside the head while they have their back 
            turned, or otherwise dealing damage to a person who doesn’t think 
            they’re in combat, you are fighting out of combat.
        </p>

    &nbsp;

<h3>
        No Hit Points
    </h3>

&nbsp;

        <p>
            Whenever a person is not at least partially ready for a fight themselves, they 
            take direct wounds damage. Hit points are a reflection of combat 
            stamina, and a person who is not in combat has no hit points. Therefore,
            if you are stabbed in the back, you take wounds damage.
        </p>

    &nbsp;

<h3>
        Coup de Grace
    </h3>

&nbsp;
    
    &nbsp;

<h4>
        <em>Cost: 3 AP</em>
    </h4>

&nbsp;

        <p>
            A coup de grace is a melee attack specifically meant to kill somebody. 
            They can’t be fighting back, moving, or otherwise defending themselves. 
            The attack deals direct damage to their wounds and they must roll on the
            wounds random effects chart. In a coup de grace, the attacker takes a 
            pure 12 on their strike roll with the defender takes a natural 1 on 
            their defense.
        </p>

    &nbsp;

<h3>
        Knock Out:
    </h3>

&nbsp; 
    
        <p>
            A character can make a non-lethal coup de grace that works exactly
            like a coup de grace, except that the target falls unconscious upon 
            reaching 0 wounds and does receive wounds random effects.
        </p>

    &nbsp;

<h3>
        Called Shots
    </h3>

&nbsp;

        <p>
            Called shots are all resistable. The defender must roll their resist 
            attribute. If it exceeds the attacker’s strike roll (or accuracy roll 
            for firearms and crossbows), the called shot is resisted.
        </p>

        <p>
            Wounded and Fatal effects can not be resisted.
        </p>

        <div>
            <table class="table-bordered">  
                <thead>   
                    <tr>
                        <th scope="col"><b>Roll</b></th>
                        <th scope="col"><b>Body Area</b></th>
                        <th scope="col"><b>Resist</b></th>
                        <th scope="col"><b>Wound/Fatal</b></th>
                        <th scope="col"><b>Wound/Fatal Description</b></th>
                    </tr> 
                </thead>
                <tbody>
                    <tr>
                        <td scope="row"><b>1</b></td>
                        <td>Head</td>
                        <td>Brute</td>
                        <td>Disoriented</td>
                        <td><b>Wound:</b> A wound to the head causes long-term disorientation. While disoriented, you lose 1 action point per turn, and will be disoriented for 1 turn per 3 points of damage the attack dealt to you. You cannot re-orient yourself from this wound.</td>
                    </tr>
                    <tr>
                        <td scope="row"></td>
                        <td colspan="2"><b>Standard:</b>A shot to the head will disorient you (causing you to lose 1 action point per turn) until the end of your next turn.</td>
                        <td scope="row">Beheaded</td>
                        <td colspan="2"><b>Fatal:</b> If your head is dealt a fatal blow, you instantly die.</td>
                    </tr>

                    <tr>
                        <td scope="row"><b>2</b></td>
                        <td>Eyes</td>
                        <td>Dexterity</td>
                        <td>Blinded</td>
                        <td><b>Wound:</b> A wound to the eyes leaves you blinded until you can take a breather. You suffer a -4 on accuracy and evade rolls, and you cannot target opponents you can’t locate.</td>
                    </tr>
                    <tr>
                        <td scope="row"><b></b></td>
                        <td colspan="2"><b>Standard:</b>When a successful attack is made against your ocular region, your sight becomes blurry (giving you a -2 on accuracy and evade) until the end of your next turn.</td>
                        <td scope="row">Blind</td>
                        <td colspan="2"><b>Fatal:</b> A fatal to the eyes leaves you permanently blinded. You suffer a -4 on accuracy and evade rolls, and you cannot target opponents you can’t locate. Losing your eyes permanently drops your wounds by 1 point.</td>
                    </tr>

                    <tr>
                        <td scope="row"><b>3</b></td>
                        <td>Ears</td>
                        <td>Cunning</td>
                        <td>Deafened</td>
                        <td><b>Wound:</b> A wound to the ears leaves you deafened until you can take a breather. You suffer a -2 on evade rolls and any roll that requires listening, speaking, or performing a sound-based action.</td>
                    </tr>
                    <tr>
                        <td scope="row"><b></b></td>
                        <td colspan="2"><b>Standard:</b>When a successful attack is made against your aural region, your hearing becomes fuzzy (giving you a -2 on evade) until the end of your next turn.</td>
                        <td scope="row">Deaf</td>
                        <td colspan="2"><b>Fatal:</b> A fatal to the ears leaves you permanently deafened. You suffer a -2 on evade rolls and any roll that requires listening, speaking, or performing a sound-based action. Losing your ears permanently drops your wounds by 1 point.</td>
                    </tr>

                    <tr>
                        <td scope="row"><b>4</b></td>
                        <td>Neck</td>
                        <td>Brute</td>
                        <td>Bleeding</td>
                        <td><b>Wound:</b> A wound to the neck causes bleeding. Bleeding will cause you 1 point of wounds damage every turn after the one where you take the wound, and will last for 1 turn per 3 points of damage the attack dealt to you. Any sort of bloodclotting, medical healing, or artificial flesh imbuing will stop the bleeding.</td>
                    </tr>
                    <tr>
                        <td scope="row"><b></b></td>
                        <td colspan="2"><b>Standard:</b>An attack against your neck can leave you gasping for air, unable to take actions. A successful called shot against your neck stuns you for 1 action point.</td>
                        <td scope="row">Slit Throat</td>
                        <td colspan="2"><b>Fatal:</b> If your neck is dealt a fatal blow, you will die at the end of your next turn.</td>
                    </tr>

                    <tr>
                        <td scope="row"><b>5</b></td>
                        <td>Torso</td>
                        <td>Brute</td>
                        <td>Broken Ribs</td>
                        <td><b>Wound:</b> Suffering broken ribs can make it difficult to breath. Any time you want to make any action, you must roll your Brute attribute. If you do not receive a tier 2 result, you fail and lose 1 action point. This wound will stay with you until your next breather.</td>
                    </tr>
                    <tr>
                        <td scope="row"><b></b></td>
                        <td colspan="2"><b>Standard:</b>A good blow to the torso can knock a person backwards. A successful torso called shot sends you backwards 5 feet.</td>
                        <td scope="row">Slain</td>
                        <td colspan="2"><b>Fatal:</b> If your Torso is dealt a fatal blow, you are instantly killed.</td>
                    </tr>

                    <tr>
                        <td scope="row"><b>6</b></td>
                        <td>Groin</td>
                        <td>Spirit</td>
                        <td>Purge</td>
                        <td><b>Wound:</b> Your body begins to purge itself. You can take no actions beyond moving, and you only can go at half your normal speed (rounded down). While purging, if anybody attacks you, you suffer a -4 on your evade roll. The purging lasts for 3 turns.</td>
                    </tr>
                    <tr>
                        <td scope="row"><b></b></td>
                        <td colspan="2"><b>Standard:</b>A blow to the groin makes you nauseated. You receive a -2 to all rolls until 3 action points have been spent emptying your stomach.</td>
                        <td scope="row">Gutted</td>
                        <td colspan="2"><b>Fatal:</b> Your vital organs are exposed to the world, and you are bleeding out. Unless you can recover 10 points of damage (wounds or hit points) before the end of your next turn, you will die.</td>
                    </tr>

                    <tr>
                        <td scope="row"><b>7-8</b></td>
                        <td>Arm</td>
                        <td>Brute</td>
                        <td>Sprained Arm</td>
                        <td><b>Wound:</b> Your arm is sprained, making it near impossible for you to wield things with that arm. Anything that you do with the arm suffers a -6 on the roll. The wound will recover during your next breather.</td>
                    </tr>
                    <tr>
                        <td scope="row"><b></b></td>
                        <td colspan="2"><b>Standard:</b>An attack against your arm makes it difficult for you to use that hand. You take a -2 on any roll that would use that arm and hand, such as accuracy and strike, or evade if you are trying to use a shield with that hand, until the end of your next turn.</td>
                        <td scope="row">Severed Arm</td>
                        <td colspan="2"><b>Fatal:</b> Your arm is severed. You now have one less arm, and anything that requires you to use two arms cannot be accomplished. Ambiguous actions that would normally use two arms (such as lifting something over head or climbing) take a -6 on the roll. Having a severed arm permanently drops your wounds by 2 points (1 point for the arm and 1 point for the hand). The bleeding from a severed arm will cause you to die in 3 turns if you do not spend at least 3 AP bandaging it up.</td>
                    </tr>

                    <tr>
                        <td scope="row"><b>9-10</b></td>
                        <td>Hand</td>
                        <td>Dexterity</td>
                        <td>Bruised Hand</td>
                        <td><b>Wound:</b> Your hand is smashed, making it impossible for you to wield anything with that hand. The wound will recover during your next breather.</td>
                    </tr>
                    <tr>
                        <td scope="row"><b></b></td>
                        <td colspan="2"><b>Standard:</b>An attack to the hand causes you to drop whatever you’re holding. Picking up a dropped item costs 1 action point.</td>
                        <td scope="row">Severed Hand</td>
                        <td colspan="2"><b>Fatal:</b> Your hand is severed. You now have one less hand, and anything that requires you to use two hands cannot be accomplished. Ambiguous actions that would normally use two hands (such as lifting something over head or climbing) take a -6 on the roll. Having a severed hand permanently drops your wounds by 1 point. The bleeding from a severed hand will cause you to die in 6 turns if you do not spend at least 3 AP bandaging it up.</td>
                    </tr>

                    <tr>
                        <td scope="row"><b>11-12</b></td>
                        <td>Leg</td>
                        <td>Dexterity</td>
                        <td>Sprained Leg</td>
                        <td><b>Wound:</b> Your leg is sprained. You suffer a -10 on your movement speed (though you cannot be dropped below a minimum of 5 feet) and you’re tripped (bringing you prone). The wound will recover during your next breather.</td>
                    </tr>
                    <tr>
                        <td scope="row"><b></b></td>
                        <td colspan="2"><b>Standard:</b>A called shot to the leg can either trip you or slow you down (attacker’s choice). If you are slowed, it will cost you 1 extra AP to move until the end of your next turn. If you’re tripped, you’re brought prone and lose your stance. While prone, you suffer a -1 on all combat rolls (accuracy, evade, strike, and defense), but can stand up for 1 action point.</td>
                        <td scope="row">Severed Leg</td>
                        <td colspan="2"><b>Fatal:</b> Part of your leg is severed. You suffer a -20 on your movement speed (though you cannot be dropped below a minimum of 5 feet). Anything that requires two legs, such as swimming, climbing, or kicking, suffers a -6 on the roll. Having a severed leg permanently drops your wounds by 1 point. The bleeding from a severed leg will cause you to die in 3 turns if you do not spend at least 3 AP bandaging it up.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        &nbsp;

    &nbsp;

<h2>
        Attributes
    </h2>

    &nbsp;
    &nbsp;
     
        <p>
            Attributes are the baseline pieces of your character. Your attributes determine 
            how fast you react, how well you push back, how long you survive 
            poisons, how quickly you process information, and a whole plethora of 
            actions that anybody can do.
        </p>

        <p>
            There are five attributes: Brute, Cunning, Dexterity, Spirit, and Sciences. 
            You will start with a zero in each of these attributes, but as you gain 
            experience in your skills, your attributes will increase as well.
        </p>

        <p>
            Each attribute has a set of skills that fall underneath it. As you gain 
            points in your skills, add up all of the skills under the attribute to 
            figure out what your attribute score is.
        </p>
     
    &nbsp;

<h3>
        Using Attributes
    </h3>

&nbsp;
     
        <p>
            Each attribute will include a variety of different options you can use that 
            attribute for.  Dexterity, for example, is used when tripping 
            people, disarming them, trying to be stealthy, attempting to squeeze 
            into a tight spot, or anytime that your hand-eye coordination is going 
            to prove valuable.
        </p>

        <p>
            Anybody can do anything listed under attributes. Using attributes requires no 
            training or skill. Most people will simply be average in the attributes 
            (which means they have a zero). Others will excel in them.
        </p>

        <p>
            <em>Note to the Narrator: When to Ask for Attribute Rolls</em>
        </p>

        <p>
            <em>
                Be sparing when asking for attribute rolls. On one hand, it is completely 
                within your power to ask the players to roll their Dexterity to see if 
                they fall down the stairs, but is it really necessary? Every attribute 
                roll should have a deep impact on the story, otherwise it begins to lose 
                its excitement and meaning.
            </em>
        </p>

        <p>
            <em>
                In Tephra, we utilize a system built on “Four Tiers of Success.” Whenever 
                you ask for an attribute roll, don’t think of it as win or lose. Think, 
                instead, that your player is going to succeed, but the roll will tell 
                you how well. If a failure is going to cause the story to stall, make 
                tier 1 a poor success. It’ll keep the story moving while giving the 
                players some fun consequences.
            </em>
        </p>
     
    &nbsp;

<h3>
        Resists
    </h3>

&nbsp;
     
        <p>
            Almost all abilities that affect somebody can also be resisted. The most 
            common resist is, of course, your evade and defense - when attacked, 
            your goal is to jump out of the way and take less damage. But other 
            special attacks will often call for attribute-based resists. When you 
            need to resist a tiered effect with an attribute resist, you simply 
            lower the amount that the ability affects you by 1 tier for every tier 
            you receive over tier 1.
        </p>
     
        <p>
            So, if you were using your Brute to resist against a marque 3 poison, and you made a tier 2 Brute roll, you would lower the poison’s marque by 1, being affected as though it were a marque 2 poison.
        </p>

        <div>
            <table class="table-bordered">
                <tr>
                    <td>
                        Tier 1
                    </td>
                    <td>
                        Unaffected
                    </td>
                </tr>
                <tr>
                    <td>
                        Tier 2
                    </td>
                    <td>
                        -1 Tier
                    </td>
                </tr>
                <tr>
                    <td>
                        Tier 3
                    </td>
                    <td>
                        -2 Tier
                    </td>
                </tr>
                <tr>
                    <td>
                        Tier 4
                    </td>
                    <td>
                        -3 Tier
                    </td>
                </tr>
            </table>
        </div>
        &nbsp;

    &nbsp;

<h3>
        Dodging Blasts
    </h3>

&nbsp;      
    
    &nbsp;

<h4>
        <em>Cost: 1 AP Dexterity resist</em>
    </h4>

&nbsp;
     
        <p>
            Any time you are affected by a blast (something that affects a large area), you may attempt to jump out of the blast area. It costs 1 action point reflexively, and you may only move up to your total speed in order to get out of the blast range. Thus, if the edge of the blast area is 40 feet away, and you only have a 30 foot movement speed, there is no way you can jump out of the blast area.
        </p>

        <p>
            In order to successfully jump out of the blast area, you must roll your Dexterity and receive a tier result equal to the tier or marque of the blast. Thus, a tier 3 blast would require a tier 3 Dexterity result in order to jump out of it. (This is different from normal resists, which require you to receive a tier result one higher than the tier or mark of the ability in order to fully resist it.)
        </p>

        <p>
            If you fail to get out of the blast area, you move to the edge of the blast area (while still remaining within it) and take the normal damage, which you can still soak, if possible.
        </p>
     
    &nbsp;

<h3>
        Social Tells
    </h3>

&nbsp;
     
        <p>
            When interacting with other characters, it’s nearly impossible to quantify how likely they are to believe your lie or how stubborn they are toward your wild claims. Instead, you can search for their social tells. These are their non-verbal cues, often made unconsciously, that betray a character’s inner thoughts. You might be trying to decide if a man is lying. Successfully reading his social tells might let you notice his sweaty palms, his shifting eyes, and his constant checking of his watch. By this point, you’ll have a pretty good idea that he’s lying.
        </p>
     
        <p>
            Social tells are anything but absolute. He may look like he’s lying, but in reality he might just be late for a very important business meeting. The goal of social tells is to guide you toward the answer without outright saying, “The fellow is clearly lying.” The decision on how to act once you’ve observed somebody’s social tells is still up to you.
        </p>
     
        <p>
            A character will use social tells by rolling their Cunning and tiering the results.
        </p>
     
    &nbsp;

<h4>
        Tells
    </h4>

&nbsp;
     
        <p>
            When a character rolls to determine somebody’s tells, the narrator will describe key aspects of the target depending on the success of the roll. For example, you might be attempting to decide if he’s lying. Depending on how well you roll, you might get the following results:
        </p>
     
        <p>
            <em>He seems rather sweaty, despite the chill in the room. Pretty much anybody would notice this.</em>
        </p>
      
        <p>
            <em>He is very stiff when he talks. He’s not making many gestures, he’s not looking you in the eyes, and his posture seems guarded.</em>
        </p>
      
        <p>
            <em>His humor seems forced. He’s scratching behind the ears and looking toward the door, as though he’s about to be rescued or make a quick getaway. He keeps looking at your pistol.</em>
        </p>
      
        <p>
            <em>His breathing has changed, and you detect a change in his heart beat due to the cadence in his voice. He has shifted just slightly, so that the table is positioned more between you.</em>
        </p>
      
        <p>
            As the result for social tells gets higher, the narrator might give you either more information or more useful information.
        </p>
     
    &nbsp;

<h3>
        Resisting Social Tells
    </h3>

&nbsp;
     
        <p>
            When a person begins looking for social tells, they are testing the air for information. Other characters might be aware of their social tells and attempt to hide them. As such, they can roll a Cunning resist, which will tier down the player’s result.
        </p>
     
        <p>
            Alternatively, some characters just won’t have social tells. A man who is known for his stoic demeanor may have few noticeable social tells, and he might need a tier 3 or tier 4 to figure out his motives.
        </p>
     
    &nbsp;

<h3>
        Control Remains with the Character
    </h3>

&nbsp;
     
        <p>
            The social tell system is designed to help a character convince others or manipulate a social situation. However, the ultimate choice of how to act remains with the adventurers and NPCs. The players are not told directly, “This man is lying,” just like the NPC who is being intimidated is not forced to back down because of a good roll. Their decisions should be made in line with their character and how they would react to the information received.
        </p>
     
    &nbsp;

<h3>
        Using Social Tells
    </h3>

&nbsp;
     
    &nbsp;

<h4>
        Lie Detecting
    </h4>

&nbsp;
     
    &nbsp;

<h4>
        <em>Resist: Cunning (tiers down)</em>
    </h4>

&nbsp;
     
        <p>
            When somebody has made a statement that you think isn’t true, you can attempt to detect the lie. You can look for their level of confidence and conviction, how strongly they make the statement, whether they seem nervous, are looking away, or are excessively sweating. When you roll to detect a lie, the target can resist with their own Cunning.
        </p>
     
    &nbsp;

<h4>
        Pacifying & Intimidating
    </h4>

&nbsp;
     
    &nbsp;

<h4>
        <em>Resist: Spirit (tiers down)</em>
    </h4>

&nbsp;
     
        <p>
            Attempting to pacify or intimidate a target can cause them to back down, calm down, or suddenly fear you. It’s a great way to get information or to get past a potential obstacle. When you are attempting to pacify a target, you’re trying to find just the right things to say in order to make the target less aggressive. Intimidation is similar, but it typically revolves around making the target afraid of you.
        </p>
     
        <p>
            Unlike most social tells, the target will typically be resisting with their Spirit attribute, as they are trying to bolster their own resolve to keep on fighting.
        </p>
     
    &nbsp;

<h4>
        Provoking
    </h4>

&nbsp;
     
    &nbsp;

<h4>
        <em>Resist: Cunning (tiers down)</em>
    </h4>

&nbsp;
     
        <p>
            When you go to provoke somebody, you are trying to elicit a certain type of response. Perhaps you’re attempting to make them angry, to say something they don’t want to say, or even just to laugh. Sometimes you will provoke somebody so that, in the midst of combat, the target will only attack you.
        </p>
     
        <p>
            When you roll for social tells to provoke a person, you’re looking for a way to get your response. If your target is a proper gentleman, you might look for a wedding ring to determine that he’s in a committed marriage and some snide comments about his wife could make him angry. If a guard seems to take great pride in the emblem on his armor, you might make a joke about his organization.
        </p>
     
    &nbsp;

<h2>
        Cover
    </h2>

    &nbsp;
    &nbsp;
     
        <p>
            When an opponent is behind a wall, a thick sheet of rain, or another person, they have cover.
        </p>
     
        <p>
            Cover gives you a bonus on your evade rolls, but can also cover called shot locations and provide hiding places. There are four degrees of cover - poor, light, medium, and heavy. Each degree of cover grants greater protection.
        </p>
     
    &nbsp;

<h3>
        Called Shot Locations 
    </h3>

&nbsp;

        <p>
            When you are behind cover, you can choose certain called shot locations to be covered. For example, if you’re hiding behind a table on its side, the table might count as medium cover and cover all of your called shot locations except your head (which you’re peeking over the table with in order to see your targets), your gun hand, and your arm.
        </p>
     
        <p>
            If you need a called shot location to perform an action, then you can’t hide it behind cover (like if you are using a heavy rifle that requires both hands and arms and your head to see, then you’d have to reveal all 5 of those requisite called shot locations). When you take cover, describe what part of you is hiding and allow you and your narrator to make judgment calls as to if the location is hidden or not (but the ultimate decision is left to the narrator). For example, you might have thought only your head and eyes were exposed, but the enemy saw your foot sticking out and took a shot at it. That’s the narrator’s call, which should be making the game that much more fun.
        </p>


        <div>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Tier</th>
                        <th scope="col">Evade Bonus</th>
                        <th scope="col">Called Shot Protection</th>
                        <th scope="col">Example</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tier 1- Poor</td>
                        <td>+2</td>
                        <td>3 Locations</td>
                        <td>A post, side-table, or a person</td>
                    </tr>
                    <tr>
                        <td>Tier 2- Light</td>
                        <td>+4</td>
                        <td>6 Locations</td>
                        <td>A bush, couch, or tree</td>
                    </tr>
                    <tr>
                        <td>Tier 3- Medium</td>
                        <td>+6</td>
                        <td>9 Locations</td>
                        <td>A Large tree, barrel, trench or around the corner</td>
                    </tr>
                    <tr>
                        <td>Tier 4- Heavy</td>
                        <td>+8</td>
                        <td>11 Locations</td>
                        <td>Around a full wall, ducked behind furniture</td>             
                    </tr>
                    <tr>
                        <td>Total Cover</td>
                        <td>Can't be targeted</td>
                        <td>All Locations</td>
                        <td>No portion of the person is visible</td>
                    </tr>
                </tbody>
            </table>
        </div>
        &nbsp;

    &nbsp;

<h3>
        Soft Cover
    </h3>

&nbsp;
     
        <p>
            Soft cover is anything that obscures an opponent’s vision but can still be attacked through. For instance, if you’re hiding behind dense shrubbery, a canvas screen, or behind a sheet, the opponent can still attack you through that soft cover.
        </p>
     
        <p>
            Soft cover causes the opponent to attack you blindly (taking a -4 on the accuracy roll). If the opponent can barely see you (like a shadow of you through the screen), they only take a -2 on the accuracy roll.
        </p>
     
        <p>
            This is a double-edged sword: if you can’t accurately tell how they’re attacking you, you suffer the same penalty on your evade roll.
        </p>
     
    &nbsp;

<h3>
        Taking Total Cover
    </h3>

&nbsp;
     
    &nbsp;

<h4>
        <em>Cost: 1 AP (or at the end of a movement)</em>
    </h4>

&nbsp;
     
        <p>
            For 1 action point or at the end of a move, you can take full cover behind an object that would normally only grant medium or heavy cover. This is typically the act of ducking down behind the cover or pressing yourself against it.
        </p>
     
        <p>
            Once you’ve taken total cover, you can peek out from behind that cover and return for 0 action points (such as poking your head out from around a corner). Doing so, however, does count as “leaving cover” and allows enemies with ranged weapons to take reflexive attacks against you.
        </p>
     
    &nbsp;

<h4>
        Melee Attacks versus Cover
    </h4>

&nbsp;
     
        <p>
            Though cover is a constant concern for ranged attackers, it can be less so for people carrying melee weapons. While a wall can be great for peeking one’s head around, once that person closes in with a saber, that wall isn’t going to be doing much.
        </p>
     
        <p>
            Small objects (such as furniture and vegetation) can provide cover as per normal, but characters will often just move around larger objects (such as larger trees, walls, et cetera).
        </p>

    &nbsp;

<h4>
        Firing Blindly
    </h4>

&nbsp;
     
        <p>
            While taking total cover, you can always choose to fire blindly at your opponents. When you fire blindly, you are only revealing your hand (the one firing the gun, crossbow, or throwing the weapon) or hands (if you’re using two-handed ranged weapons or a bow). This prevents enemies from targeting your vital locations, as they can now only target your hand(s).
        </p>
     
        <p>
            However, you have difficulty aiming at the target while firing blindly. You take a -4 on your accuracy roll against anybody that you shoot (exactly as though you were blind). If you do not know where the enemy is but shoot in the correct direction (at your narrator’s discretion), you’ll suffer a -8 on the accuracy roll.
        </p>
     
    &nbsp;

<h4>
        Hiding Spots
    </h4>

&nbsp;
     
        <p>
            Hiding spots are locations where you can keep yourself hidden from on-lookers. You can use medium, heavy, or total cover as hiding spots (the action of hiding in a hiding spot counts as taking total cover). Once you’ve taken your hiding spot, people can roll to notice you or they must search for you.
        </p>
     
    &nbsp;

<h4>
        Noticing
    </h4>

&nbsp;
    
    <p>
        Attempting to “notice” somebody is a passive action. When a character notices something, they did so without any real effort, without actively searching for what they noticed. When a person passes near another person’s hiding spot, they both roll Cunning (with the hiding person gaining a bonus based on their degree of cover). If the person walking by meets or exceeds the person hiding, they “notice” that there is somebody hiding there.
    </p>
     
    <ul>
        <li>Medium Cover: -4 on the Cunning roll to hide</li>
        <li>Heavy Cover: No bonus on the Cunning roll to hide</li>
        <li>Total Cover: +4 on the Cunning roll to hide</li>
    </ul>

    &nbsp;

<h4>
        Searching
    </h4>

&nbsp;

        <p>
            Searching is a much more involved process. If someone says “I search behind the rock” and there somebody is hiding behind the rock, they will automatically find that person. The area must be specific (saying that one “searches the room” is not specific enough: they must say that they search behind the curtains and inside the closet).
        </p>
     
        <p>
            If somebody is found hiding, both parties may roll priority. The winner will get to act first, often times taking the chance to immediately run or get off a surprise attack.
        </p>
     
    &nbsp;

<h4>
        Precipitation & Wind
    </h4>

&nbsp;
     
        <p>
            Precipitation and wind can provide cover, as both make it more difficult to aim at your target. Your narrator will use his discretion when determining a cover bonus provided from precipitation and wind. They can also increase cover; for example, if you’re taking cover behind a barrel (say, medium cover), but it’s also hailing outside, that medium cover can suddenly become heavy cover.
        </p>

    &nbsp;

<h2>
        Status Effects
    </h2>

    &nbsp;
    &nbsp;
     
    &nbsp;

<h4>
        Bleeding
    </h4>

&nbsp;
     
        <p>
            Any time you’re bleeding, you’re taking hit point damage until your hit points are exhausted, at which point you start taking wounds damage. Normally, bleeding will occur when the victim’s action points refresh and last until stopped. This damage cannot be soaked through normal defenses. Bleeding effects stack with other bleeding effects.
        </p>
     
        <p>
            For every 1 action point spent to stop bleeding, 5 bleed damage is negated. These action points must be spent by either the victim or a character adjacent to the victim.
        </p>
     
    &nbsp;

<h4>
        Blinded & Poor Vision
    </h4>

&nbsp;
     
        <p>
            When you’re blinded, in total darkness, or just plain can’t see your opponent, you take a -4 on all accuracy and evade rolls against him. If you’re in low levels of light, fog, or just have something in your eye, you take a -2 on accuracy and evade rolls.
        </p>
     
    &nbsp;

<h4>
        Burning
    </h4>

&nbsp;
     
        <p>
            When you are on fire, you will suffer unsoakable damage every turn, and the fire will damage or destroy your equipment. The fire can be put out for a couple action points, depending on the size of the fire.
        </p>
     
        <div>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Tier 1</th>
                        <th scope="col">Tier 2</th>
                        <th scope="col">Tier 3</th>
                        <th scope="col">Tier 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>This is a light flame such as as stepping in a campfire or a explosion’s aftermath. Items in your possession are singed but still functional.</td>
                        <td>This is a large fire, like from standing in a campfire or being lit by an outside source such as a torch. All wooden, organic, and cloth items in your possession are destroyed or unuseable.</td>
                        <td>This is a fire fueled by outside means, such as oil or an alchemical source. All leather, cloth, and wooden items in your possession are destroyed or unusable.</td>
                        <td>This a highly intensive fire caused by lava or a full inferno. All items in your possession, including metal ones, are damaged to a point of being unusable until repaired. </td>
                    </tr>
                    <tr>
                        <td>2 unsoakable damage/turn</td>
                        <td>4 unsoakable damage/turn</td>
                        <td>8 unsoakable damage/turn</td>
                        <td>16 unsoakable damage/turn</td>
                    </tr>
                    <tr>
                        <td>2 AP to put out</td>
                        <td>4 AP to put out</td>
                        <td>8 AP to put out</td>
                        <td>16 AP to put out</td>
                    </tr>
                </tbody>
            </table>
        </div>
        &nbsp;

    &nbsp;

<h4>
        Burnt
    </h4>

&nbsp;
     
        <p>
            Burns can be painful, debilitating wounds that heal very slowly. General burns make armor uncomfortable to wear and hits harder to soak. For specific call shot burns, consider giving equal penalties to abilities when using the burned body located.
        </p>
     
        <p>
            As an example, burned hands might make climbing or crafting intricate trinkets very difficult, whereas burned feet could cause a player trouble when attempting fancy footwork or long treks across the country.
        </p>

        <div>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Tier 1</th>
                        <th scope="col">Tier 2</th>
                        <th scope="col">Tier 3</th>
                        <th scope="col">Tier 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>You have minor burns on his body that make all incoming attack sting just a little bit more. </td>
                        <td>You have several 1st degree burns that make defending difficult. </td>
                        <td>You have major 2nd degree burns that hurt when you even move. </td>
                        <td>You’ve been burned incredibly badly. Several are 3rd degree burns, making it almost impossible to take a hit.</td>
                    </tr>
                    <tr>
                        <td>-1 to defense rolls</td>
                        <td>-3 to defense rolls</td>
                        <td>-5 to defense rolls</td>
                        <td>-7 to defense rolls</td>
                    </tr>
                </tbody>
            </table>
        </div>
        &nbsp;

    &nbsp;

<h4>
        Deafened
    </h4>

&nbsp;
     
        <p>
            While deafened, you suffer a -2 on evade rolls. You also take that -2 on any roll that requires listening, speaking, or performing a sound-based action.
        </p>
     
    &nbsp;

<h4>
        Disoriented
    </h4>

&nbsp;
     
        <p>
            When you’re disoriented, you have a hard time getting about. You lose one action point per turn that you are disoriented. You can re-orientate yourself by spending 3 action points.
        </p>
     
    &nbsp;

<h4>
        Drowning
    </h4>

&nbsp;
     
        <p>
            When you run out of air, make a Brute roll for each turn until you once again have air. The target tier for this roll begins at tier 2 and increases each turn until you fail, at which case you’re knocked out. You die within three turns of falling unconscious if you’re not rescued.
        </p>
     
    &nbsp;

<h4>
        Enraged
    </h4>

&nbsp;
     
        <p>
            Rage drives a person to act with one goal in mind: to destroy whatever is making them angry. As such, when you are enraged you suffer a -2 to all rolls when doing anything other than attacking whatever enraged you. You gain a +2 accuracy and strike when attacking the object of your rage. You may spend 2 action points at any time to clear your head and calm down, removing your rage.
        </p>
     
    &nbsp;

<h4>
        Fatigued
    </h4>

&nbsp;
     
        <p>
            When you’re fatigued, your maximum hit points are reduced by one half, rounded down. Thus, if you normally have 17 hit points but start a battle fatigued, you’ll start the fight with 8 hit points.
        </p>
     
    &nbsp;

<h4>
        Fear
    </h4>

&nbsp;
     
        <p>
            Fear comes in many forms and is caused by many things. It is an emotion of power that causes nations and heroes to both rise and fall. Fear is one of the most basic and powerful emotions in the universe, as there are few who truly ever overcome it and even fewer who are without it. At any point you may spend 1 reflexive action point to attempt to overcome fear. A strong willpower always overcomes fear and as such you may always use a spirit to resist or overcome fear. Lastly, fear only lasts until your next downtime.
        </p>
     
        <div>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Tier 1</th>
                        <th scope="col">Tier 2</th>
                        <th scope="col">Tier 3</th>
                        <th scope="col">Tier 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Being scared by someone or of something is the most basic form of fear. This is the form of fear that comes from being intimidated by the object of fear.</td>
                        <td>Fright has the ability to cause doubt in even the strongest and most skilled people. It consumes them and makes them act irrationally which opens them for mistakes.</td>
                        <td>When you are terrified you body has only one response: put as much distance between you and the object of your fear as possible. </td>
                        <td>True dread is sometimes referred to as crippling fear. It gets this reputation because those unfortunate enough to have experienced true dread had their basic rights as a sentient creature stripped from them: the ability to act.</td>
                    </tr>
                    <tr>
                        <td>-2 to all resist rolls</td>
                        <td>-2 to all rolls</td>
                        <td>-2 to all rolls</td>
                        <td>-4 to all rolls</td>
                    </tr>
                    <tr>
                        <td>-4 to resist against source of fear</td>
                        <td>-4 to all rolls against source of fear</td>
                        <td>-4 to all rolls against source of fear</td>
                        <td>-6 to all rolls against source of fear</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>You must spend at least 1 AP/turn moving away from the object of your fear. You may not move toward the object of your fear until you are no longer frightened.</td>
                        <td>You may not do anything except when attempting to overcome fear (and you can spend one action point at a time to re-roll your resist against this effect).</td>
                    </tr> 
                </tbody>     
            </table>
        </div>
        &nbsp;

    &nbsp;

<h4>
        Nausea
    </h4>

&nbsp;
     
        <p>
            You’ve become sick to your stomach and cannot focus until it’s been dealt with. You receive a -2 to all rolls until 3 action points have been spent emptying your stomach.
        </p>
     
    &nbsp;

<h4>
        Paralyzed
    </h4>

&nbsp;
     
        <p>
            A paralyzed person is helpless for several turns, minutes, hours, or days. If paralyzed, a person cannot fight back. Any damage dealt to them goes straight into wounds. They cannot move, talk, or take any other actions (unless specified otherwise).
        </p>
     
    &nbsp;

<h4>
        Prone
    </h4>

&nbsp;
     
        <p>
            If you’re prone, you’re low to the ground. It requires 1 action point to stand from prone, which causes you to flinch (and thus draw reflexes). While prone, your move speed is cut down to 5 feet. You take a -1 on all combat rolls (accuracy, evade, strike, and defense) while prone. If you’re grabbed while prone, you cannot stand up until you break the grab.
        </p>
     
    &nbsp;

<h4>
        Stunned
    </h4>

&nbsp;
     
        <p>
            When somebody is stunned, they lose an indicated amount of action points from their immediate pool. If somebody is stunned for 1 action point, they lose the first available action point they have. If somebody is stunned for more action points than they have per turn, they cannot act until they have action points again.
        </p>
     
        <p>
            A stunned character is still aware of their environment and can evade and resist attacks, and is therefore not helpless.
        </p>
     
    &nbsp;

<h2>
        Battlefield Modifier
    </h2>

    &nbsp;
    &nbsp;
     
    &nbsp;

<h4>
        Falling
    </h4>

&nbsp;

        <p>
            You take 1 wounds damage per 20 feet that you fall. For every tier result over tier 1 you receive on a Dexterity roll, you may ignore 2 wounds damage. (Thus, a tier 2 Dexterity roll would result in ignoring the first 40 feet of falling damage, and a tier 3 result would ignore the first 80 feet.) For every 2 wounds damage that you take from falling, you roll once on the wounds random effects chart.
        </p>
     
    &nbsp;

<h4>
        Rough Terrain
    </h4>

&nbsp;
     
        <p>
            Rough terrain can be found anywhere, Sometimes it is a mere inconvenience, slowing you down a notch or giving you uneven footing. Other times it can be virtually impassable, making you nearly crawl to get anywhere.
        </p>
    
        <div>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Tier 1- Minor</th>
                        <th scope="col">Tier 2- Unsteady</th>
                        <th scope="col">Tier 3- Difficult</th>
                        <th scope="col">Tier 4- Impossible</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>-5 Speed</td>
                        <td>-10 Speed</td>
                        <td>-15 Speed</td>
                        <td>-20 Speed</td>
                    </tr>
                    <tr>
                        <td>Examples: A rocking boat, a light forest</td>
                        <td>Examples: A forest, rocky terrain, snow</td>
                        <td>Examples: A swamp, a snowy mountain</td>
                        <td>Examples: A dense jungle, ancient rubble</td>
                    </tr>
                </tbody>
            </table>
        </div>
        &nbsp;

        <p>
            Note: No matter how dense or how many penalties you have to speed, you can always crawl at a 5 feet movement.
        </p>
</div>
</body>
</html>